:root {
	/* Light Theme */
	--main__background__color: #ffffff;
	--main__text__color: #000000;
	--secondary__background__color: #e6e6e6;
	--secondary__text__color: #555555;
	--input__background__color: #eee;
	--property__card__items__container: #ccc;
}

@media (prefers-color-scheme: dark) {
	:root {
		/* Dark Theme */
		--main__background__color: #0a0a0a;
		--main__text__color: #ffffff;
		--secondary__background__color: #1a1a1a;
		--secondary__text__color: #dddddd;
		--input__background__color: #fff;
		--property__card__items__container: rgb(15, 60, 165);
	}
}
