@import "@/styles/global";
@import "@/styles/mixin";
@import "@/styles/variables";

.dashboardDrawer__component {
	width: 100%;
	height: 100%;
	@include display_flex(column, flex-start, center);
	background-color: var(--secondary__background__color);
	position: relative;

	.logo {
		width: 95%;
		height: 90px;
		padding: 10px 0;
		border-bottom: 1px solid #444;
		position: relative;
		cursor: pointer;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}

		.light {
			display: block;
		}

		.dark {
			display: none;
		}

		&:active {
			opacity: 0.7;
		}
	}

	.drawer__menu {
		width: 95%;
		height: fit-content;
		margin-top: 50px;
		@include display_flex(column);

		.menu__item {
			width: 100%;
			height: fit-content;
			padding: 15px 5px;
			padding-left: 10%;
			@include display_flex(row, flex-start);
			border-radius: 5px;
			color: var(--secondary__text__color);
			font-size: 12px;
			font-weight: bold;
			cursor: pointer;

			&:hover {
				background-color: var(--main__background__color);
			}

			&:active {
				opacity: 0.7;
			}

			.icon {
				margin-right: 10px;
				font-size: 20px;
			}
		}
	}

	.user {
		width: 95%;
		height: fit-content;
		@include display_flex(row, flex-start);
		padding: 15px 5px;
		border-top: 1px solid #444;
		position: absolute;
		bottom: 0;

		.avatar {
			width: 45px;
			height: 45px;
			margin-right: 8px;
			border: 1px solid var(--secondary__text__color);
			border-radius: 100%;
		}

		.user__detail {
			width: fit-content;
			height: fit-content;
			@include display_flex(column, center, flex-start);
			color: var(--secondary__text__color);

			.name {
				font-size: 15px;
				font-weight: 600;
			}

			.email {
				font-size: 11px;
			}
		}
	}
}

@media (prefers-color-scheme: dark) {
	.dashboardDrawer__component {
		.logo {
			.light {
				display: none;
			}

			.dark {
				display: block;
			}
		}
	}
}
