@import "@/styles/global";
@import "@/styles/mixin";
@import "@/styles/variables";

.navbar__component {
	width: 100%;
	height: 80px;
	padding: 0px 20px;
	@include display_flex(row, space-between, center);
	background-color: var(--secondary__background__color);
	position: sticky;
	top: 0;
	z-index: 10;

	.logo {
		width: 90px;
		height: 60px;
		position: relative;
		cursor: pointer;

		.light {
			display: block;
		}

		.dark {
			display: none;
		}

		&:active {
			opacity: 0.7;
		}
	}

	.nav__links {
		width: fit-content;
		height: 100%;
		@include display_flex(row, space-between, center);

		.nav__item,
		.nav__auth {
			width: fit-content;
			height: fit-content;
			text-decoration: none;
			color: var(--secondary__text__color);
			margin-left: 25px;
			font-size: 15px;
		}

		.nav__item {
			cursor: pointer;

			&:hover {
				color: aquamarine;
			}

			&:active {
				opacity: 0.7;
			}
		}

		.nav__item.selected {
			color: aqua;
		}

		.nav__auth.logged__in {
			margin-left: 50px;
			@include display_flex();

			.wallet__connector {
				width: 33px;
				height: 33px;
				@include display_flex();
				background-color: #0d51b7;
				border-radius: 100%;
				cursor: pointer;

				&:active {
					opacity: 0.7;
				}

				.icon {
					color: white;
					font-size: 18px;
				}
			}

			.avatar {
				width: 33px;
				height: 33px;
				margin-left: 8px;
				border: 1px solid var(--secondary__text__color);
				cursor: pointer;

				&:active {
					opacity: 0.7;
				}
			}
		}

		.nav__auth.logged__out {
			margin-left: 50px;
			@include display_flex(row, center, center);

			.navAuth__button {
				width: fit-content;
				height: fit-content;
				margin: 0 3px;
				padding: 7px 10px;
				@include display_flex();
				background-color: var(--main__background__color);
				border-radius: 50px;
				cursor: pointer;

				&:hover {
					outline: 1px ridge gray;
				}

				&:active {
					opacity: 0.7;
				}

				.icon {
					margin-left: 5px;
					font-size: 20px;
				}
			}

			.navAuth__button.transparent {
				background: none;
				border: none;
			}
		}

		.loading__gif {
			width: 40px;
			height: 40px;
			margin: 0 40px;
		}
	}
}

@media (prefers-color-scheme: dark) {
	.navbar__component {
		.logo {
			.light {
				display: none;
			}

			.dark {
				display: block;
			}
		}
	}
}
