@import "@/styles/global";
@import "@/styles/mixin";
@import "@/styles/variables";

.dashboard {
	width: 100vw;
	height: 100vh;
	padding: 0 15px;
	@include display_flex(row, space-between);
	position: relative;

	.drawer__container {
		width: 240px;
		height: 95%;
		border-radius: 10px;
		overflow: hidden;
	}

	.page__loading {
		width: 100%;
		height: 100%;
		@include display_flex();

		.session__loading {
			width: 65px;
			height: 65px;
			position: relative;
		}
	}
}
