@import "@/styles/global";
@import "@/styles/mixin";
@import "@/styles/variables";

.login__component {
	width: 100%;
	height: 100%;
	padding: 5px;
	@include display_flex(column);
	color: var(--secondary__text__color);

	.header {
		font-size: 30px;
		font-weight: bold;
	}

	.form__switcher {
		margin-top: 15px;
		font-size: 13px;

		span {
			color: #3d8ffb;
			cursor: pointer;

			&:active {
				opacity: 0.7;
			}
		}

		span.disabled {
			cursor: progress;
		}
	}

	.login__form {
		width: 100%;
		height: fit-content;
		margin-top: 50px;
		@include display_flex(column);

		.input__group {
			width: 80%;
			height: fit-content;
			margin-bottom: 15px;
			@include display_flex(column, flex-start, flex-start);
			position: relative;

			.input__field {
				width: 100%;
				padding: 10px 8px;
				padding-right: 50px;
				background: none;
				border: none;
				border-bottom: 1px solid gray;
				color: var(--secondary__text__color);
				outline: none;

				&:focus {
					border-bottom: 1px solid #3d8ffb;
				}
			}

			.input__icon {
				width: fit-content;
				height: fit-content;
				@include display_flex();
				position: absolute;
				right: 5px;

				.icon {
					color: var(--secondary__text__color);
					font-size: 18px;
				}

				.icon.clickable {
					cursor: pointer;
				}
			}

			.input__error {
				width: fit-content;
				margin-top: 5px;
				padding-left: 5px;
				color: rgb(254, 30, 30);
				font-size: 11px;
			}
		}

		.login__button {
			width: 80%;
			height: fit-content;
			margin-top: 40px;
			padding: 6px;
			@include display_flex();
			background-color: #086bf7;
			border: none;
			border-radius: 3px;
			text-transform: uppercase;
			color: white;
			font-size: 14px;
			font-weight: 600;
			cursor: pointer;

			&:active {
				opacity: 0.7;
			}

			.loading__gif {
				margin-left: 10px;
			}
		}

		.login__button.disabled {
			opacity: 0.7;
			cursor: progress;
		}

		.forgot__password {
			width: 80%;
			margin-top: 10px;
			@include display_flex(row, flex-end);
			color: #3d8ffb;
			font-size: 13px;
			cursor: pointer;

			&:active {
				opacity: 0.7;
			}
		}
	}
}
